.ui.modal {
  top: 2%!important;
  margin-top: 2%!important;
  width: 1000px!important;
}

.table {
  cursor: pointer!important;
}

.DateInput__input {
  cursor: pointer!important;
}

.filename {
  width: 600px!important;
}

.uid {
  width: 130px!important;
}

.input_uid {
  margin-top: -3px!important;
  width: 170px!important;
  font-size: 19px!important;
  display: inline-flex!important;
}

.large {
  font-size: 18px;
}

.ui.selection.dropdown .menu {
  max-height: 350px!important;
}

.ui.selection.dropdown .menu>.item {
  font-size: 18px;
}

.rtl-dir {
  direction: rtl;
}

.tabContent{
  overflow-y:scroll;
  top:0px; left:0px;
  width:100%; height:250px;
}