.ui.container {
    top: 2%!important;
    margin-top: 5%!important;
    margin-left: 0%!important;
    width: 925px!important;
}

.ui.modal {
    top: 2%!important;
    margin-top: 5%!important;
    margin-left: 5%!important;
    width: 925px!important;
}

.table {
  cursor: pointer!important;
}

.DateInput__input {
  cursor: pointer!important;
}

.filename {
  width: 600px!important;
}

.uid {
  width: 130px!important;
}

.input_uid {
  margin-top: -3px!important;
  width: 180px!important;
  font-size: 19px!important;
  display: inline-flex!important;
}

.large {
  font-size: 18px;
    min-width: 10em!important;
}

.ui.selection.dropdown .menu {
  max-height: 350px!important;
}

.ui.selection.dropdown .menu>.item {
  font-size: 18px;
}

.rtl-dir {
  direction: rtl;
}

.tabContent{
  overflow-y:scroll;
  top:0px; left:0px;
  width:100%; height:250px;
}

.datepickercs {
    cursor: pointer!important;
    width:120px!important;
    height:48px!important;
    font-size: 22px!important;
}

.react-datepicker {
    font-size: 1em;
}
.react-datepicker__header {
    padding-top: 0.8em;
}
.react-datepicker__month {
    margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
    width: 1.9em;
    line-height: 1.9em;
    margin: 0.166em;
}
.react-datepicker__current-month {
    font-size: 1em;
}
.react-datepicker__navigation {
    top: 1em;
    line-height: 1.7em;
    border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
    border-right-color: #ccc;
    left: 1em;
}
.react-datepicker__navigation--next {
    border-left-color: #ccc;
    right: 1em;
}
.react-datepicker__day--sat {
    color: #ac0013;
}
