.ui.modal {
  top: 2%!important;
  margin-top: 2%!important;
}

.filename {
  width: 500px!important;
}

.uid {
  width: 130px!important;
}

.large {
  font-size: 18px;
}

.rtl-dir {
  direction: rtl;
}

.tabContent{
  overflow-y:scroll;
  top:0px; left:0px;
  width:100%; height:250px;
}